body {
    background-color: #04A6EB;
    color: #FDFFFA;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 30px;
    background-color: #337AB7;
    color: #FDFFFA;
    border-color: #2E6DA4;
    border-style: none; 
}

input{
    height: 20px;
}
